In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
     ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
     ---------------------------------------- 0.1/11.6 MB 3.3 MB/s eta 0:00:04
     -- ------------------------------------- 0.6/11.6 MB 7.9 MB/s eta 0:00:02
     --- ------------------------------------ 1.2/11.6 MB 9.2 MB/s eta 0:00:02
     ----- ---------------------------------- 1.7/11.6 MB 9.8 MB/s eta 0:00:02
     ------- -------------------------------- 2.2/11.6 MB 10.2 MB/s eta 0:00:01
     --------- ------------------------------ 2.8/11.6 MB 10.4 MB/s eta 0:00:01
     ----------- ---------------------------- 3.3/11.6 MB 10.6 MB/s eta 0:00:01
     ------------- -------------------------- 3.9/11.6 MB 10.7 MB/s eta 0:00:01
     --------------- ------------------------ 4.4/11.6 MB 10.8 MB/s eta 0:00:01
     ---------------- ----------------------- 4.9/11.6 MB 10.9 MB/s eta 0:00:01
     ------------------ --------------------- 5.5/11.6 MB 11.3 MB/s eta 0:00:01
     -------------------- ------------------- 6.0/11.6 MB 11.3 MB/s eta 0:00:01
     ---------------------- ----------------- 6.5/11.6 MB 11.3 MB/s eta 0:00:01
     ------------------------ --------------- 7.1/11.6 MB 11.3 MB/s eta 0:00:01
     -------------------------- ------------- 7.6/11.6 MB 11.3 MB/s eta 0:00:01
     ---------------------------- ----------- 8.1/11.6 MB 11.3 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.6 MB 11.3 MB/s eta 0:00:01
     ------------------------------- -------- 9.2/11.6 MB 11.3 MB/s eta 0:00:01
     --------------------------------- ------ 9.7/11.6 MB 11.3 MB/s eta 0:00:01
     ---------------------------------- ---- 10.3/11.6 MB 11.7 MB/s eta 0:00:01
     ------------------------------------ -- 10.8/11.6 MB 11.9 MB/s eta 0:00:01
     --------------------------------------  11.4/11.6 MB 11.9 MB/s eta 0:00:01
     --------------------------------------  11.6/11.6 MB 11.7 MB/s eta 0:00:01
     --------------------------------------  11.6/11.6 MB 11.7 MB/s eta 0:00:01
     --------------------------------------- 11.6/11.6 MB 10.9 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
     --------------------------------- ---- 440.3/505.5 kB 9.2 MB/s eta 0:00:01
     -------------------------------------- 505.5/505.5 kB 8.0 MB/s eta 0:00:00
Collecting numpy>=1.22.4
  Downloading numpy-1.26.4-cp310-cp310-win_amd64.whl (15.8 MB)
     ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
     - -------------------------------------- 0.5/15.8 MB 11.1 MB/s eta 0:00:02
     -- ------------------------------------- 1.1/15.8 MB 11.3 MB/s eta 0:00:02
     ---- ----------------------------------- 1.6/15.8 MB 12.7 MB/s eta 0:00:02
     ----- ---------------------------------- 2.1/15.8 MB 12.4 MB/s eta 0:00:02
     ------ --------------------------------- 2.7/15.8 MB 12.1 MB/s eta 0:00:02
     -------- ------------------------------- 3.2/15.8 MB 12.0 MB/s eta 0:00:02
     --------- ------------------------------ 3.7/15.8 MB 11.9 MB/s eta 0:00:02
     ---------- ----------------------------- 4.3/15.8 MB 11.8 MB/s eta 0:00:01
     ------------ --------------------------- 4.8/15.8 MB 11.8 MB/s eta 0:00:01
     ------------- -------------------------- 5.3/15.8 MB 11.8 MB/s eta 0:00:01
     -------------- ------------------------- 5.9/15.8 MB 11.7 MB/s eta 0:00:01
     ---------------- ----------------------- 6.4/15.8 MB 11.7 MB/s eta 0:00:01
     ----------------- ---------------------- 6.9/15.8 MB 12.0 MB/s eta 0:00:01
     ------------------ --------------------- 7.5/15.8 MB 11.9 MB/s eta 0:00:01
     -------------------- ------------------- 8.0/15.8 MB 11.9 MB/s eta 0:00:01
     --------------------- ------------------ 8.6/15.8 MB 11.9 MB/s eta 0:00:01
     ----------------------- ---------------- 9.1/15.8 MB 11.9 MB/s eta 0:00:01
     ------------------------ --------------- 9.6/15.8 MB 11.8 MB/s eta 0:00:01
     ------------------------- ------------- 10.2/15.8 MB 11.8 MB/s eta 0:00:01
     -------------------------- ------------ 10.7/15.8 MB 11.7 MB/s eta 0:00:01
     --------------------------- ----------- 11.2/15.8 MB 11.7 MB/s eta 0:00:01
     ----------------------------- --------- 11.8/15.8 MB 11.7 MB/s eta 0:00:01
     ------------------------------ -------- 12.3/15.8 MB 11.7 MB/s eta 0:00:01
     ------------------------------- ------- 12.8/15.8 MB 11.9 MB/s eta 0:00:01
     -------------------------------- ------ 13.4/15.8 MB 11.9 MB/s eta 0:00:01
     ---------------------------------- ---- 13.9/15.8 MB 11.9 MB/s eta 0:00:01
     ----------------------------------- --- 14.4/15.8 MB 11.9 MB/s eta 0:00:01
     ------------------------------------ -- 15.0/15.8 MB 11.7 MB/s eta 0:00:01
     --------------------------------------  15.5/15.8 MB 11.7 MB/s eta 0:00:01
     --------------------------------------  15.8/15.8 MB 11.7 MB/s eta 0:00:01
     --------------------------------------  15.8/15.8 MB 11.7 MB/s eta 0:00:01
     --------------------------------------- 15.8/15.8 MB 10.6 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
     ------------------------------------  337.9/345.4 kB 10.2 MB/s eta 0:00:01
     -------------------------------------- 345.4/345.4 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wjdgu\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\wjdgu\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: C:\Users\wjdgu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
# Q1 데이터를 로드, 데이터는 \t를 기준으로 구분되어있다.

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv", sep='\t')
# sep은 나누는 기준을 말함
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [4]:
# Q2 데이터의 상위 5개 행을 출력하기

Ans = df.head()
Ans

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [6]:
# Q3 데이터의 행과 열의 갯수를 파악하라

row, cal = df.shape
print("행 : ", row)
print("열 : ", cal)

행 :  51490
열 :  61

In [7]:
# Q4 전체 col을 출력하라

features = df.columns
features

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [11]:
# Q5 여섯번째 col_name을 출력하라

sixth_feature = df.columns[5]
sixth_feature

'firstBlood'

In [4]:
# Q6 여섯번째 column의 data type을 확인하라
# sixth_feature_type = df['firstBlood'].dtype
sixth_feature_type = df[df.columns[5]].dtype
sixth_feature_type

dtype('int64')

In [5]:
# Q7 데이터셋의 인덱스 구성은 어떤가
idx = df.index
idx

RangeIndex(start=0, stop=51490, step=1)

In [7]:
# Q8 6번째 컬럼의 3번째 값은 무언인가
ans = df[df.columns[5]][2]
# ans = df.iloc[2,5]
"""
iloc는 정수 기반 위치 인덱싱을 사용하여 행과 열을 선택할 수 있다.
[행, 열] 값으로 n번째 값을 얻으려면 n-1을 대입하여 인덱스로 위치를 찾는다
"""
ans

2

In [9]:
# Q9 데이터를 로드하라. 이 때 columns가 한글이므로 적절한 처리가 필요
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding='euc-kr')
df

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [12]:
# Q10 데이터 마지막 3개 행을 출력하라
df.tail(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [14]:
# Q11 수치형 변수를 가진 컬럼을 출력하라
num_features = df.select_dtypes(exclude=object).columns
num_features

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [16]:
# Q12 범주형 변수를 가진 컬럼을 출력하라
range_features = df.select_dtypes(include=object).columns
range_features

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [23]:
# Q13 각 컬럼의 결측치 숫자를 파악하라
Ans = df.isnull().sum()
Ans

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64